* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    border: darkred 1px solid;
    color: darkred;
    height: calc((100vw - 24rem) / 3);
    width: calc((100vw - 24rem) / 3);
}
